{% comment %}
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}

{% if site.featured-tags %}
<section>
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <h5>FEATURED TAGS</h5>
    <div class="tags">
        <a class="tag" href="{{ site.baseurl }}/archive/?tag=EVBioX" title="EVBioX">EVBioX</a>
        <a class="tag" href="{{ site.baseurl }}/archive/?tag=单细胞" title="单细胞">单细胞</a>
        <a class="tag" href="{{ site.baseurl }}/archive/?tag=R" title="R">R</a>
        <a class="tag" href="{{ site.baseurl }}/archive/?tag=Python" title="Python">Python</a>
        <a class="tag" href="{{ site.baseurl }}/archive/?tag=AI" title="AI">AI</a>
        <a class="tag" href="{{ site.baseurl }}/archive/?tag=Blender" title="Blender">Blender</a>
        <!-- 需要更多可以复制这一行，比如下面这样： -->
        <!-- <a class="tag" href="{{ site.baseurl }}/archive/?tag=科研绘图" title="科研绘图">科研绘图</a> -->
    </div>
</section>
{% endif %}
